In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [37]:
data = pd.read_csv('../data/salary_data.csv')
data.shape

(30, 2)

In [38]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [7]:
labelEncode = LabelEncoder()
data['Species'] = labelEncode.fit_transform(data['Species'])

In [39]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [9]:
data = data.drop('Id', axis=1)

In [21]:
# x_train,x_test,y_train,y_test = train_test_split(data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']],
#                                                 data['Species'])

In [51]:
x_train,x_test,y_train,y_test = train_test_split(data[['YearsExperience']],
                                                data['Salary'])

In [52]:
class MultipleLinearRegression():
    def __init__(self,  learning_rate, iterations):
        self.learning_rate = learning_rate
        self.iterations = iterations
    
    def fit(self, X, y):
        self.beta = 0.0
        self.weights = np.zeros(X.shape[1])
        self.X = X
        self.y = y
        self.m = X.shape[0]
        
        for i in range(self.iterations):
            self.update_weights()
        return self
            
      
    def update_weights(self):
        y_hat = self.predict(self.X)
        dw = (-2*(self.X.T).dot(self.y-y_hat))/self.m
        db = (-2*np.sum(self.y-y_hat))/self.m
        
        self.weights = self.weights-self.learning_rate*dw
        self.beta = self.beta-self.learning_rate*db
        return self
    
    def predict(self, X):
        return self.beta+X.dot(self.weights)

In [53]:
lr_model = MultipleLinearRegression(iterations = 1000, learning_rate = 0.01)

In [54]:
lr_model.fit(x_train, y_train)

In [55]:
pred = lr_model.predict(x_test)

In [56]:
pred

15     72131.892070
27    117343.010627
17     75979.646841
6      53855.056908
5      52893.118215
16     74055.769455
9      60588.627757
7      55778.934294
dtype: float64

In [57]:
y_test

15     67938
27    112635
17     83088
6      60150
5      56642
16     66029
9      57189
7      54445
Name: Salary, dtype: int64