In [22]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.model_selection import train_test_split

In [23]:
data = pd.read_csv('../data/Iris.csv')
print(data.shape)

(150, 6)

In [24]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
lablel_encode = LabelEncoder()
data['Species'] = lablel_encode.fit_transform(data['Species'])

In [26]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [57]:
simple_data = data[['SepalLengthCm','SepalWidthCm']]

In [58]:
simple_data.head()

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6

In [ ]:
dataset = [[1, 1], [2, 3], [4, 3], [3, 2], [5, 5]]

In [68]:
check_df = pd.DataFrame(columns =['X', 'y'])
check_df['X'] = [1,2,4,3,5]
check_df['y'] = [1,3,3,2,5]

In [69]:
check_df

   X  y
0  1  1
1  2  3
2  4  3
3  3  2
4  5  5

In [79]:
class SimpleLinearRegression():
    def __init__(self):
        self.theta1 = None
        self.theta0 = None
    
    def mean(self, data):
        return np.mean(data)

    def variance(self, data, x_mean):
        variance_x = np.sum((data-x_mean)**2)
        return variance_x
    
    def fit(self, X, y):
        mean_x = self.mean(X)
        print('mean_x',mean_x)
        mean_y = self.mean(y)
        print('mean_y',mean_y)
        variance_x = self.variance(X, mean_x)
        print('variance_x',variance_x)
        self.theta1 = np.sum((X-mean_x)*(y-mean_y))/variance_x
        self.theta0 = mean_y-self.theta1*mean_x
        
        print('theta1',self.theta1)
        print('theta0',self.theta0)
    
    def predict(self, new_X):
        output = self.theta0+(new_X*self.theta1)
        return output

In [62]:
x_train, x_test, y_train, y_test = train_test_split(simple_data['SepalLengthCm'], 
                                                   simple_data['SepalWidthCm'])

In [80]:
slr_model = SimpleLinearRegression()
slr_model.fit(check_df['X'].values, check_df['y'].values)

mean_x 3.0
mean_y 2.8
variance_x 10.0
theta1 0.8
theta0 0.39999999999999947

In [76]:
pred = slr_model.predict()

8.0